.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInOut 3s;

  border-radius: 10px;
  border: solid 2px yellow;
  box-shadow: #f9ff01 0 4px 8px;
  background-color: black;
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;

  transform: translateX(-50%) translateY(100%);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
